@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/fonts" as *;


.slider_card{
  width:390px;
  
}
#main-slider-container{
  color: black;
  width:100%;
}
.attractions-slider-container {
  text-align: center;
  margin: 20px auto;
  width:100%;
  // max-width: 900px;
}
.slider-card{
  margin-left: 0;
  margin-right: 10px;
}
.attractions-heading{
  color: $alt-text-color;
  padding: 0 3rem 1.5rem 2.5rem;
}
  