@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/fonts" as *;

.attractions-list{
    background-color: $alt-background-color ;
    color: black;
    display: flex;
    align-items: center;
    position: relative;
}

.attractions-cards{
    display: flex;
    align-items: center;
    overflow-x: scroll ;
    gap: 20px;
    padding: 20px 0;
    scroll-behavior: smooth;
    padding: 1rem;
}


.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #1f97c2;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }
  
  .scroll-btn.left {
    left: 0;
  }
  
  .scroll-btn.right {
    right: 0;
  }
  