
@font-face {
    font-family: "Outfit-Light";
    src: url("../../assets/fonts/Outfit-Light.woff") format("woff"),
         url("../../assets/fonts/Alternative Files/Outfit-Light.woff2") format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: "Outfit-Light";
    src: url("../../assets/fonts/Outfit-Medium.woff") format("woff"),
         url("../../assets/fonts/Alternative Files/Outfit-Medium.woff2") format("woff2");
    font-weight: 500;
}