// media breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// background color
$background: rgba(46, 54, 26, 0.869);
$alt-background-color:  rgb(196, 220, 137);
// $text-color: #0c1e1a;
$text-color: #effaf7;
$icons-color: #1e6655;
$border-color: #b7cec9;
$alt-background-color: #e4efec;
$alt-text-color: #ffffff;

$arrow-size: 30px;
$arrow-bg-color: rgba(0, 0, 0, 0.5);
$arrow-bg-hover-color: rgba(0, 0, 0, 0.7);
$arrow-padding: 10px;
$slider-max-height: 600px;