@use "../../styles/partials/variables" as *;

.attraction-box {
  list-style: none;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.9375rem;
  background-color: #f9f9f9;
  border: 0.0625rem solid $card-border-color;
  color: $icons-color;
  width: 25rem;
  height: 25rem;
  overflow: hidden;

  &:hover {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

  &__name {
    margin-top: 0;
    margin-bottom: 0.625rem;
    color: $alt-text-color;
    padding: 0 0.625rem;
  }

  &__image {
    width: 25rem;
    height: 18.75rem;
    margin-bottom: 0.625rem;
    display: block;
    object-fit: cover;
    object-position: center;
  }

  &__description {
    line-height: 1.5;
    margin-bottom: 0.5rem;
  }

  &__category {
    font-style: italic;
    color: $alt-text-color;
    margin-bottom: 0.3125rem;
    padding: 0 0.625rem;
  }

  &__address {
    color: #555;
    font-size: 0.9rem;
    padding: 0.625rem;
  }
}
