@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.itinerary-item {
  background: #fcfffe;
  display: flex;
  align-items: flex-start;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;

  &:last-child {
    border-bottom: none;
  }

  .item-time {
    font-weight: bold;
    width: 5rem;
    text-align: right;
    margin-right: 1.25rem;
    color: #333;
    font-size: 0.9em;
    padding-top: 0.125rem; 
  }

  .item-details {
    flex-grow: 1;
    width:6.25rem;
    padding-top: 0rem; 
  }

  .item-activity {
    font-size: 1em;
    margin-bottom: 0.125rem;
    color: #333;
    font-weight: 500;
  }

  .item-description {
    font-size: 0.85em;
    color: #666;
    margin-bottom: 0.1875rem;
    line-height: 1.4;
  }

  .item-distance {
    font-size: 0.75em;
    color: #777;
    line-height: 1;
  }
}