.itinerary-item {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    padding-left: 50px; /* Adjust left padding for spacing */
    // margin-bottom: 15px; /* Adjust vertical spacing */
    position: relative;
  
    &::before {
      content: '';
      position: absolute;
      left: 14px; /* Adjust horizontal position of the circle */
      top: 8px; /* Adjust vertical position of the circle */
      width: 20px; /* Size of the circle */
      height: 20px; /* Size of the circle */
      background-color: #FFA500; /* Orange circle */
      border-radius: 50%;
      border: none; /* Remove the border */
    }
  
    &::after {
      content: '';
      position: absolute;
      left: 22px; /* Adjust horizontal position of the line */
      top: 0; /* Start position of the line (below the circle) */
      bottom: -8px; /* Extend the line to the next item */
      width: 2px; /* Thickness of the line */
      background-color: #FFA500; /* Orange line */
      z-index: -1; /* Place the line behind the content */
    }
  
    &:last-child::after {
        height: 0;
        opacity: 0;
      }
      
  
    .item-time {
      font-weight: bold;
      width: 80px; /* Adjust width for time display */
      text-align: right;
      margin-right: 20px;
      color: #333; /* Darker text color for time */
    }
  
    .item-details {
      flex-grow: 1;
    }
  
    .item-activity {
      font-size: 1.1em;
      margin-bottom: 3px;
      color: #333; /* Darker text color for activity */
    }
  
    .item-description {
      font-size: 0.9em;
      color: #666; /* Slightly darker description color */
      margin-bottom: 5px; /* Add a little space below description */
    }
  
    /* Style for optional distance/info */
    .item-distance {
      font-size: 0.8em;
      color: #777;
    }
  }