@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/fonts" as *;

.banner {
  color: white;
  font-family: "Outfit-Light", sans-serif;
  position: relative;
  height: 80vh;

  &-bg {
    object-position: top;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    @include tablet {
      height: 80vh;
    }
  }

  &-logo {
    position: absolute;
    left: 38rem;
    top: -13rem;
    height: 50rem;
    width: 40rem;
    z-index: 2;
  }
  &-carousel .img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }

  &__heading {
    position: absolute;
    z-index: 2;
    text-align: left;
    top: 20rem;
    left: 8rem;
    bottom: 0;
    height: 400px;
    padding-bottom: 2rem;

    &-top {
      font-size: 4rem;
      font-weight: bold;
      animation: slide-down 2s forwards;
    }

    &-bottom {
      font-size: 1.5rem;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      width: 50%;
      animation: slide-down 3.2s forwards;
    }
    @keyframes slide-down {
      from {
        opacity: 0;
        transform: translateY(-50px);
      }
      to {
        opacity: 1;
        transform: none;
      }
    }
    .banner__button {
      text-decoration: none;
      @include h2--desktop;
      @include btn;
    }
  }
  &__button:hover {
    background-color: $btn_color;
  }
}
.cities-list__container {
  z-index: 1;
}
.attractions {
  background-color: $alt-background-color;
  padding: 5rem;
}

.saying {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 8rem;
}

.saying-video {
  width: 400px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;

  video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.saying__text {
  flex: 1;
  text-align: right;
  font-size: 1.2rem;
  font-style: italic;
  color: #555;
  padding: 0 20px;
}

blockquote {
  margin: 0;
}
